.button-wrapper {
    .button {
        font-weight: 700;
        text-transform: capitalize;
        font-family: $fc-font !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: $fc-green;
        color: $fc-white;
        border: none;
        padding: 1.25rem 2rem;
        border-radius: 3rem;
        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        &:hover {
            background-color: $fc-light-green;
        }
    }
}
