.buzz-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
    padding: 4rem 0;

    .buzz-content {
        display: flex;
        flex-wrap: wrap;

        .buzz-item {
            width: 100%;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                height: 100px;
                border-radius: 50%;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .buzz-wrapper {
        .buzz-content {
            .buzz-item {
                width: 50%;
            }
        }
    }
}

@media (min-width: 993px) {
    .buzz-wrapper {
        .buzz-content {
            .buzz-item {
                width: 33.33%;
                padding: 1rem 0;
            }
        }
    }
}
