.customer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;

    .customer-image-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 0 1.5rem;

        img {
            min-width: 30vw;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 2rem !important;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 767px) {
    .customer-wrapper {
        gap: 3rem;
        padding: 3rem 0;
    }
}