//components
@import "./_variables.scss";
@import "./_header.scss";
@import "./_button.scss";
@import "./_input.scss";
@import "./_socialMedia.scss";


//pages
@import "./_login.scss";
@import "./_dashboard.scss";
@import "./_happyCustomer.scss";
@import "./_meetUs.scss";
@import "./_buzz.scss";
@import "./_joinUs.scss";
@import "./_awesomePartner.scss";

body {
    margin: 0;
    padding: 0;
    font-family: $fc-font !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $fc-white;

    .content-body {
        flex: 1;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        .middle-content {
            height: fit-content;
        }

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 6px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .footer {
        position: relative;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        background: $fc-black;
        color: $fc-white;
    }
}

a {
    text-decoration: none;
    color: $fc-green;
    font-size: 0.875rem;
    font-weight: 700;
    &:hover {
        color: $fc-light-green;
    }
}

h1 {
    color: $fc-black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}