.clinic-products {
    width: calc(100% - 64px);
    padding: 2rem;
    padding-top: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    .clinic-product {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        padding: 1rem;
        display: flex;
        border-radius: 1rem;
        justify-content: space-between;
        width: calc(50% - 50px);
        cursor: pointer;

        .product-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            .product-title {
                font-size: 1rem;
                font-weight: 700;
            }

            p {
                color: $fc-dark-gray;
                margin: 0;
            }

            .price {
                .original-price {
                    text-decoration: line-through;
                    color: $fc-dark-gray;
                    margin-left: 8px;
                }
            }

            .discount-template {
                width: fit-content;
                padding: 0.5rem;
                background: $fc-light-green;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: 0.75rem;

                svg {
                    color: $fc-dark-green;
                }
            }
        }

        .product-image {
            width: 12rem;
            height: 8rem;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }

            .button-wrapper {
                position: absolute;
                bottom: -8%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                width: calc(100% - 5rem);
                .button {
                    padding: 1rem;
                    font-size: 0.675rem;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .clinic-products {
        .clinic-product {
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;

            .product-content {
                text-align: center;
                align-items: center;
            }

            .product-image {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                    max-height: 200px; // Set a max height for images
                }
                .button-wrapper {
                    width: 50%;
                }
            }

        }
    }
}