$fc-font: "Montserrat";
$fc-light-blue: #edf8fd;
$fc-blue-medium: #0099ba;
$fc-color: #006a95;
$fc-dark-blue: #005375;
$fc-white: #fff;
$fc-red: #db4d59;
$fc-black: #222;
$fc-gray: #cccccc;
$fc-blue-box-shadow: 0 4px 10px #006a954d, 0 6px 20px rgba(0, 106, 149, 0.2);