$fc-font: "Montserrat";
$fc-light-green: #abce90;
$fc-green: #90be6d;
$fc-white: #fff;
$fc-red: #db4d59;
$fc-black: #222;
$fc-gray: #cccccc;
$fc-green-box-shadow: 0 4px 10px rgb(69 149 0 / 30%), 0 6px 20px rgb(0 149 0 / 20%);